*{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

.round{
    border-radius: 50%;
}

.grey-text{
    color:#666666;
}

.small-text{
    font-size: 14px;
}

/* NAVBAR START */
.logo{
    height: 30px;
    margin-right: 40px;
    padding-top: 5px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

#nav-left ul{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    font-size: 14px;
    padding: 5px;
    word-spacing: 16px;
}

#nav-right ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 13px;
}

#nav-right ul li{
    margin-left: 20px;
}

#search-bar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 692px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 24px;
    border-color: rgb(223, 225, 229);
}

#search-bar-container:hover{
    box-shadow: 0 0 3px grey;
}

#search-bar{
    width: 90%;
    height: 90%;
    border-style: none;
    outline: none;
}

/* NAVBAR END */

main{
    margin-left: 150px;
    width: 660px;
    height: 100%;
}

/* MENU START */
.icon{
    height: 15px;
}

#menu-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 660px;   
}

#menu-items{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}


/* MENU END */