@import url("https://use.typekit.net/nqc4nxn.css");

*{
    margin: 0;
    padding: 0;
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    word-spacing: 20px;
    align-items: center;
    line-height: 70px;
}

#nav1{
    margin-left: 20px;
    font-size: 14px;
}

#nav2{
    margin-right: 20px;
    font-size: 13px;
}

nav div a{
    color: black;
}

#profile-pic{
    border-radius: 50%;
}

#logo-div{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#search-bar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 584px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 24px;
    border-color: rgb(209, 208, 208);
    margin: 0 auto;
    padding: 2px;
}

#search-bar-container:hover{
    box-shadow: 0 0 3px grey;
}

#search-bar{
    width: 90%;
    height: 90%;
    border-style: none;
    outline: none;
}
