/* @import url("https://use.typekit.net/nqc4nxn.css"); */

*{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

#nav-left{
    margin-left: 21px;
    font-size: 14px;
    padding: 5px;
    word-spacing: 16px;
}

#nav-right ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 13px;
}

#nav-right ul li{
    margin-left: 20px;
}

nav div a{
    color: black;
}

#profile-pic{
    border-radius: 50%;
}

#logo-div{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 60px;
}

#search-bar-wrapper{
    padding: 10px;
}

#search-bar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 584px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 24px;
    border-color: rgb(223, 225, 229);
    margin: 0 auto;
    padding: 2px;
}

#search-bar-container:hover{
    box-shadow: 0 0 3px grey;
}

#search-bar{
    width: 90%;
    height: 90%;
    border-style: none;
    outline: none;
}

#buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
}

button{
    background-color: rgb(248, 249, 250);
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    margin-left: 15px;
    color: rgb(60, 64, 67);
    font-size: 14px;
}